#result {
    padding:20px;
    margin:20px;
    padding-bottom:20px;
    text-align: center;
    font-size: 40px;
    font-family: hobeaux,sans-serif;
    font-weight: 400;
    font-style: bold;
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}
#bid{
    border:5px solid black;
    margin:20px;
    padding:20px;
    text-align:center;
    background-image: url(./images/Background.jpg);
    background-position: center;
    background-size: 100%;
}
#bid h1 {
    padding:0px;
    margin:0px;
    padding-bottom:20px;
    font-family: synthemesc, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    color: white;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: black;
    
}
#choices {
    padding:auto;
}
button {
    font-size:20px;
    font-family:Georgia;
    padding:100px;
}


button#rock{
    background-image: url(./images/Rock.png);
    background-position: center;
    background-size: 150%;
    background-color: steelblue;
    margin: 5% 6% 0 0;
    border-width: 8px;
    border-color: black;
    border-style: solid;
    border-radius: 20%;
    box-shadow: 0 9px rgb(24, 24, 24);
}

button#rock:hover {background-color: steelblue}
button#rock:active {
  background-color: steelblue;
  box-shadow: 0 5px rgb(24, 24, 24);
  transform: translateY(4px);
}

button#paper{
    background-image: url(./images/Paper.png);
    background-position: center;
    background-size: 150%;
    background-color: rgb(255, 145, 0);
    margin: 5% 0 0 0;
    border-width: 8px;
    border-color: black;
    border-style: solid;
    border-radius: 20%;
    box-shadow: 0 9px rgb(24, 24, 24);
}

button#paper:hover {background-color: rgb(255, 145, 0)}
button#paper:active {
  background-color: rgb(255, 145, 0);
  box-shadow: 0 5px rgb(24, 24, 24);
  transform: translateY(4px);
}

button#scissors{
    background-image: url(./images/Scissors.png);
    background-position: center;
    background-size: contain;
    background-color: yellowgreen;
    margin: 5% 0 0 5%;
    border-width: 8px;
    border-color: black;
    border-style: solid;
    border-radius: 20%;
    box-shadow: 0 9px rgb(24, 24, 24);
}

button#scissors:hover {background-color: yellowgreen}
button#scissors:active {
  background-color: yellowgreen;
  box-shadow: 0 5px rgb(24, 24, 24);
  transform: translateY(4px);
}