#result {
    padding:20px;
    margin:20px;
    padding-bottom:20px;
    text-align: center;
    font-size: 40px;
    font-family: hobeaux,sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}
#bid{
    border:5px solid black;
    margin:20px;
    padding:20px;
    text-align:center;
    background-image: url(./images/Background.jpg);
    background-position: center;
    background-size: 100%;
}
#bid h1 {
    padding:0px;
    margin:0px;
    padding-bottom:20px;
    font-family: synthemesc, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    color: white;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
    
}
#choices {
    padding:auto;
}
button {
    font-size:20px;
    font-family:Georgia;
    padding:100px;
}

button#rock{
    background-image: url(./images/Rock.png);
    background-position: center;
    background-size: 150%;
    background-color: lightcyan;
    margin: 5% 6% 0 0;
    border-width: 8px;
    border-color: steelblue;
    border-style: solid;
    border-radius: 20%;
}

button#paper{
    background-image: url(./images/Paper.png);
    background-position: center;
    background-size: 150%;
    background-color: rgb(231, 196, 255);: 
    margin: 5% 0 0 0;
    border-width: 8px;
    border-color: rgb(153, 0, 255);
    border-style: solid;
    border-radius: 20%;
}

button#scissors{
    background-image: url(./images/Scissors.png);
    background-position: center;
    background-size: contain;
    background-color: lightgreen;
    margin: 5% 0 0 5%;
    border-width: 8px;
    border-color: #267700;
    border-style: solid;
    border-radius: 20%;
}