#result {

}
#bid{
    border:1px solid black;
    margin:20px;
    padding:20px;
    text-align:center;
}
#bid h1 {
    padding:0px;
    margin:0px;
    padding-bottom:20px;
}
#choices {
    padding:auto;
}
button {
    font-size:20px;
    font-family:Georgia;
    padding:100px;
}

button#rock{
    background-image: url(./images/Rock.png);
    background-position: center;
    background-size: 150%;
    background-color: lightgray;
    margin: 5% 6% 0 0;
    border-width: 8px;
    border-color: grey;
    border-style: solid;
    border-radius: 20%;
}

button#paper{
    background-image: url(./images/Paper.png);
    background-position: center;
    background-size: 150%;
    background-color: lightyellow;
    margin: 5% 0 0 0;
    border-width: 8px;
    border-color: gold;
    border-style: solid;
    border-radius: 20%;
}

button#scissors{
    background-image: url(./images/Scissors.png);
    background-position: center;
    background-size: contain;
    background-color: lightgreen;
    margin: 5% 0 0 5%;
    border-width: 8px;
    border-color: green;
    border-style: solid;
    border-radius: 20%;
}